/* input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
} */

* {
    margin: 0;
    padding: 0;
}

table, th, td, tr {
    margin-top: 100px;
    border: 1px solid black;
    text-align: center;
}

.container {
    margin: 200px 200px;
    border: 1px solid black;
    display: inline-block;
    width: 70vh;
}
